#!/bin/bash

# Update yum
sudo yum update -y

# create swap file
sudo /bin/dd if=/dev/zero of=/var/swap.1 bs=1M count=1024
sudo chmod 0600 /var/swap.1
sudo /sbin/mkswap /var/swap.1
sudo /sbin/swapon /var/swap.1

# Install docker
sudo yum install docker -y
sudo systemctl enable docker
sudo systemctl start docker

# Install NFS packages
sudo yum install -y amazon-efs-utils
sudo yum install -y nfs-utils
sudo service nfs start
sudo service nfs status

# Install Cloudwatch agent
sudo yum install amazon-cloudwatch-agent -y
sudo amazon-linux-extras install -y collectd
sudo aws s3 cp s3://{{ s3_deployment_bucket }}/{{ service }}/cloudwatch/cloudwatch-agent-config.json /opt/aws/amazon-cloudwatch-agent/bin/config.json
sudo /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a fetch-config -m ec2 -s -c file:/opt/aws/amazon-cloudwatch-agent/bin/config.json

# Set up ETNA
# Will become ds-wagtail:develop once changes are merged in to the develop branch
docker pull ghcr.io/nationalarchives/ds-wagtail:{{ application_docker_tag }}
# Run image on port 8000
docker run \
    --name ds-wagtail \
    --publish 8000:8080 \
    --env DATABASE_NAME=tna \
    --env DATABASE_USER={{ admin_user }} \
    --env DATABASE_PASSWORD={{ admin_pass }} \
    --env DATABASE_HOST={{ database_host }} \
    --env DJANGO_SETTINGS_MODULE={{ settings_module }} \
    --env SECRET_KEY={{ secret_key }} \
    --restart=always \
    --platform linux/amd64 \
    --detach \
	ghcr.io/nationalarchives/ds-wagtail:{{ application_docker_tag }}

cat << EOF > /var/finish-init.txt
[status]
finished = true
EOF
