<powershell>
Set-ExecutionPolicy -ExecutionPolicy bypass -Force
"[status]" | Out-File -FilePath C:\finish-init.txt
# create ansible winrm admin user
$password = "{{ password }}" | ConvertTo-SecureString -AsPlainText -Force
$newUserParams = @{
        Name                 = "ansible-winrm"
        AccountNeverExpires  = $true
        PasswordNeverExpires = $true
        Password             = $password
    }
$null = New-LocalUser @newUserParams
Add-LocalGroupMember -Group "Administrators" -Member "ansible-winrm"
"port opening" | Out-File -FilePath C:\finish-init.txt -Append
New-NetFirewallRule -DisplayName "sshd" -Direction Inbound -LocalPort 22 -Protocol TCP -Action Allow
New-NetFirewallRule -DisplayName "rdp" -Direction Inbound -LocalPort 3389 -Protocol TCP -Action Allow
# open firewall for WinRM
New-NetFirewallRule -DisplayName "Allow WinRM Port 5985" -Direction Inbound -LocalPort 5985 -Protocol TCP -Action Allow
New-NetFirewallRule -DisplayName "Allow WinRM Port 5986" -Direction Inbound -LocalPort 5986 -Protocol TCP -Action Allow
"ansible script" | Out-File -FilePath C:\finish-init.txt -Append
# from powershell:
Invoke-Expression ((New-Object System.Net.Webclient).DownloadString('https://raw.githubusercontent.com/ansible/ansible/devel/examples/scripts/ConfigureRemotingForAnsible.ps1'))
#"open firewall for ssh" | Out-File -FilePath C:\finish-init.txt -Append
#if (!(Get-NetFirewallRule -Name "OpenSSH-Server-In-TCP" -ErrorAction SilentlyContinue | Select-Object Name, Enabled)) {
#    New-NetFirewallRule -Name 'OpenSSH-Server-In-TCP' -DisplayName 'OpenSSH Server (sshd)' -Enabled True -Direction Inbound -Protocol TCP -Action Allow -LocalPort 22
#}
"allow remote desktop" | Out-File -FilePath C:\finish-init.txt -Append
# allow remote desktop
Set-ItemProperty -Path "HKLM:\System\CurrentControlSet\Control\Terminal Server\" -Name "fDenyTSConnections" -Value 0 -PropertyType DWORD -Force | Out-Null
Set-ItemProperty ‘HKLM:\SYSTEM\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp\‘ -Name “UserAuthentication” -Value 1
Enable-NetFirewallRule -DisplayGroup “Remote Desktop”

# allow remote management
Enable-PSRemoting -SkipNetworkProfileCheck -Force
Enable-NetFirewallRule -DisplayName "Windows Management Instrumentation (DCOM-In)"
Enable-NetFirewallRule -DisplayGroup "Remote Event Log Management"
Enable-NetFirewallRule -DisplayGroup "Remote Service Management"
Enable-NetFirewallRule -DisplayGroup "Remote Volume Management"
Enable-NetFirewallRule -DisplayGroup "Windows Firewall Remote Management"
Enable-NetFirewallRule -DisplayGroup "Remote Event Log Management"
Enable-NetFirewallRule -DisplayGroup "Remote Scheduled Tasks Management"

Set-Item -Path "WSMan:\localhost\Service\AllowUnencrypted" -Value $true
#Set-Item -Path WSMan:\localhost\Service\Auth\Certificate -Value $true
Set-Item -Path WSMan:\localhost\Service\Auth\Basic -Value $true
#Set-Item -Path WSMan:\localhost\Service\Auth\CredSSP -Value $true
"install openssh" | Out-File -FilePath C:\finish-init.txt -Append
#start ssh server service and open port
Add-WindowsCapability -Online -Name OpenSSH.Server~~~~0.0.1.0
Start-Service sshd
#"[status]" | Out-File -FilePath C:\finish-init.txt
"finished = true" | Out-File -FilePath C:\finish-init.txt -Append
</powershell>
<persist>true</persist>
