<powershell>
Set-ExecutionPolicy -ExecutionPolicy bypass -Force

# set the Windows Firewall to allow 3389 (RDP) and set the registry key to enable Remote Desktop connections
cmd.exe /c netsh advfirewall firewall add rule name="Open RDP Port 3389" dir=in action=allow protocol=TCP localport=3389
cmd.exe /c reg add "HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Terminal Server" /v fDenyTSConnections /t REG_DWORD /d 0 /f

# open firewall for WinRM
cmd.exe /c netsh advfirewall firewall set rule group="windows remote management" new enable=yes
cmd.exe /c netsh firewall add portopening TCP 5985 "Port 5985"
cmd.exe /c netsh firewall add portopening TCP 5985 "Port 5986"

Invoke-WebRequest -Uri https://raw.githubusercontent.com/ansible/ansible/devel/examples/scripts/ConfigureRemotingForAnsible.ps1 -OutFile ConfigureRemotingForAnsible.ps1
powershell -ExecutionPolicy RemoteSigned .\ConfigureRemotingForAnsible.ps1

$password = "{{ ansible_password }}" -AsSecureString
New-LocalUser "ansible-winrm" -Password $Password -FullName "Ansible WinRM" -Description "winrm account for ansible"
Add-LocalGroupMember -Group "Administrators" -Member "ansible-winrm"
#3$admin = [adsi]("WinNT://./administrator, user")
#$admin.SetPassword("{{ ansible_password }}")
#$admin.PSBase.Invoke("SetPassword", "{{ ansible_password }}")
#Invoke-Expression ((New-Object System.Net.Webclient).DownloadString('https://raw.githubusercontent.com/ansible/ansible/devel/examples/scripts/ConfigureRemotingForAnsible.ps1'))

"[status]" | Out-File -FilePath /finish-init.txt
"finished = true" | Out-File -FilePath /finish-init.txt -Append
</powershell>
<persist>true</persist>
